




/*
     FILE ARCHIVED ON 8:38:38 May 13, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:30:16 Nov 5, 2013.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body{
background-image: url(http://atduskmusic.com/images/big_girl.png);
font-family:'Century Gothic', Arial, sans-serif;
}

#header{
	border-bottom: solid 7px;
	clear:both;

}

dl.blog
{
margin: 2em 0;
padding: 0;
}

.blog dt
{
position: relative;
left: 0;
top: 1.1em;
width: 150px;
font-weight: bold;
}

.blog dd
{
border-left: 1px solid #000;
margin: 0 0 0 120px;
padding: 0 0 10px 10px;
width:90%;
}

#header p{
	text-align:right;
	margin-left:25px;
	margin-right:25px;
}

ul{
  list-style:none;
}

li{
  font-size:small;
  padding-bottom:15px;
}

#header a{
	text-decoration:none;
	color: black;
	margin-left:25px;
	font-weight:bold;
}

a.selected{
	border-bottom: 3px solid #FB0F0C;
}

hr {
	border: none 0; 
	border-top: 1px dotted #000;/*the border*/
	height: 1px;
}

.post-date{
	background-color:#EEEEEE;
	border-top: 1px dotted;
	text-align:right;
	width:100%;
	font-style:italic;
	font-size:small;
	clear:both;
}

#right{
	width:400px;
	float:right;
	padding-top:25px;
}

#left{
	width: 350px;
	padding-top:25px;
	font-size:small;	
}

#right p{
  margin-top:0px;
}

ol.tracklist{
  float:right;
  width: 175px;
  list-style:decimal inside;
}

img.album_cover{
  width: 175px;
  border: solid 1px;
}

.album_summary{
  margin-top:25px;
}

#container{
	width:760px;
	margin:0 auto;
	text-align:left;
}

#footer{
	border-top: solid 7px;
	clear:both;
}

#footer p{
	text-align:left;
}

#footer a{
	text-decoration:none;
	color: black;
	margin-left:25px;
	font-weight:bold;
}

dl.album
{
	border: 1px dotted #000;
	border-top:none;
	width: 275px;
	text-align: center;
	padding: 0 0 10px 0;
	margin: 0 0 1em 1em;
}

.album dt
{
	font-weight: bold;
	background-color: #131210;
	color: white;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.album dd img
{
	border: 1px solid #000;
	width: 245px;
}

.album dd ul{
  text-align:left;
  line-height:1;
}

dd ol {
  padding:3px;
  list-style:decimal inside;
}

#flickr_badge_image img{
  width:auto;
}
#flickr_badge_uber_wrapper {text-align:center; width:260px;}
#flickr_badge_wrapper {padding:10px 0 10px 0;}
.flickr_badge_image {margin:0 10px 10px 10px;}
.flickr_badge_image img {border: 1px solid black !important;}
#flickr_badge_source {text-align:left; margin:0 10px 0 10px;}
#flickr_badge_icon {float:left; margin-right:5px;}
#flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
#flickr_badge_wrapper {}
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#000000 !important;}

.album dd
{
	margin: 0;
	padding: 0 10px 5px 10px;
	font-size: 85%;
	font-style:italic;
}


dd ol{
  list-style:none;
  text-align:left;
  padding:5px;
}

.license p{
  border: 1px solid;
	padding: 5px 10px;
	font-weight:bold;
  margin-bottom:0px;
  background:white;
}
